<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>timvancann.nl</title>

	{#	<link href='https://fonts.googleapis.com/css?family=Noticia+Text:400,700' rel='stylesheet' type='text/css'>#}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/code-styles/solarized-light.css') }}">

	<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/angular-resource.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/angular-sanitize.min.js') }}"></script>
	{{ JSGlue.include() }}

	<script src="{{ url_for('static', filename='js/blog/blog.js') }}"></script>
	<script src="{{ url_for('static', filename='js/blog/categoryController.js') }}"></script>
	<script src="{{ url_for('static', filename='js/blog/tagController.js') }}"></script>
	<script src="{{ url_for('static', filename='js/blog/entryController.js') }}"></script>

</head>
<body>
<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="icon-ai">
					<a href="{{ url_for('ai_main') }}">Artificial Intelligence</a>
				</li>
				<li class="icon-music">
					<a href="{{ url_for('music_main') }}">Music</a>
				</li>
				<li class="icon-health">
					<a href="{{ url_for('fitness_main') }}">Fitness & Health</a>
				</li>
				{% if user_is_admin %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Comics<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/comics/list">Suske en Wiske</a></li>
							<li><a href="/comics/kiekeboe">Kiekeboe</a></li>
						</ul>
					</li>
				{% endif %}
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				{% if session.is_admin %}
					<li class="dropdown">
						<a href="#" style="text-align: center" class="dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true"
								aria-expanded="false">
							<i class="caret"></i>&nbsp;&nbsp;
							Add
						</a>
						<ul class="dropdown-menu entry-list">
							<li><a href="{{ url_for('category_template') }}">Category</a></li>
							<li><a href="{{ url_for('tag_template') }}">Tag</a></li>
							<li><a href="{{ url_for('entry_template') }}">Entry</a></li>
						</ul>
					</li>
				{% endif %}

				{% if session.logged_in %}
					<li>
						<a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>&nbsp;&nbsp; Uitloggen</a>
					</li>
				{% else %}
					<li>
						<a href="{{ url_for('login') }}"><i class="fa fa-sign-in"></i>&nbsp;&nbsp; Inloggen
						</a>
					</li>
				{% endif %}
				<li class="menu-icon icon-fa">
					<a href="https://www.facebook.com/timvancann"><i class="fa fa-facebook"></i></a></li>
				<li class="menu-icon icon-yt">
					<a href="https://www.youtube.com/user/timvancann"><i class="fa fa-youtube-play"></i></a></li>
				<li class="menu-icon icon-ig"><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li class="menu-icon icon-sc">
					<a href="https://soundcloud.com/stretchhog"><i class="fa fa-soundcloud"></i></a></li>
				<li class="menu-icon icon-li">
					<a href="https://nl.linkedin.com/in/timvancann"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div class="container" ng-app="blogApp">
	{% import 'macros.html' as macros %}
	{% block body %}{% endblock %}
</div>
</body>
</html>
