{% extends "blog/parentCRUD.html" %}

{% block controller %}
ng-controller="categoryController"
{% endblock %}

{% block columns %}
<th>Category</th>
{% endblock %}

{% block addForm %}
<td>
	<input class="form-control" name="tag" type="text" ng-model="newItem.category" required
	       placeholder="new category..." ng-keydown="saveOnEnter(item, $event)"/>
</td>
{% endblock %}

{% block editForm %}
<td>
				<span ng-show="item.editMode == null || item.editMode == false">
                    {[item.category]}
                </span>
	<!--Name edit mode-->
	<form name="editForm">
		<input ng-model="item.category" ng-show="item.editMode" required class="form-control"
		       ng-keydown="updateOnEnter(item, $event)"/>
	</form>
</td>
{% endblock %}
