{% extends "blog/category/list.html" %}
{% block right %}
	{% raw %}
	<div  ng-controller="formController">
		<form id="main-family-form" class="form-group" name="family-form" role="form" ng-submit="formSubmit()">
			<div class="row">
				<div class="col-sm-8">
					<div class="form-group ">
						<label for="category">Category</label>
						<input class="form-control" id="category" name="category" type="text" ng-model="formData.category">
						<span ng-class="{'hide': !message}">{{ message }}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
	{% endraw %}
{% endblock %}
