{% extends "blog/entry/list.html" %}
{% block right %}
	<form id="main-family-form" class="form-group" name="family-form" method="post" action="" role="form">
		{{ form.csrf_token }}
		<div class="row">
			<div class="col-sm-8">
				{{ macros.render_field(form.title) }}
				{{ macros.render_field(form.summary) }}
				{{ macros.render_field(form.post) }}
				{{ macros.render_field(form.tags) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<div class="col-md-2">
				<a class="btn btn-default" href="{{ url_for('create_tag') }}">Reset</a>
			</div>
		</div>
	</form>
{% endblock %}
