{% extends "blog/parentCRUD.html" %}

{% block controller %}
ng-controller="entryController"
{% endblock %}

{% block columns %}
<th>Entry</th>
{% endblock %}

{% block addForm %}
<td>
	<input class="form-control" name="title" type="text" ng-model="newItem.title" required
	       placeholder="new title..."/>
	<textarea class="form-control" name="summary" type="text" ng-model="newItem.summary" required
	          placeholder="new summary..."></textarea>
	<textarea class="form-control" name="post" type="text" ng-model="newItem.post" required
	          placeholder="new post..."></textarea>
	<select class="form-control" name="category" ng-model="newItem.category"
	        ng-options="category.key as category.category for category in categories" required></select>

	<select multiple class="form-control" name="category" ng-model="newItem.tags"
	        ng-options="tag.key as tag.tag for tag in tags | filter:filterTags" required></select>
</td>
{% endblock %}

{% block editForm %}
<td>
				<span ng-show="item.editMode == null || item.editMode == false">
                    {[item.title]}
                </span>

	<div ng-repeat="tag in item.tags" class="pull-right label label-primary">{[tag.tag]}</div>

	<!--Name edit mode-->
	<form name="editForm">
		<input class="form-control" ng-show="item.editMode" name="title" type="text" ng-model="item.title" required/>
		<textarea class="form-control" ng-show="item.editMode" name="summary" type="text" ng-model="item.summary"
		          required></textarea>
		<textarea class="form-control" ng-show="item.editMode" name="post" type="text" ng-model="item.post"
		          required></textarea>
	</form>
</td>
{% endblock %}
