{% extends "index.html" %}
{% block body %}
	<div class="col-md-4 tag-list">
		{% for tag in tags %}
			<a class="btn btn-sm btn-danger" href="{{ url_for('delete_tag', key=tag.key.urlsafe()) }}"><i class="fa fa-remove"></i></a>
			<a class="btn btn-sm btn-warning" href="{{ url_for('edit_tag', key=tag.key.urlsafe()) }}"><i class="fa fa-edit"></i></a>
			|
			{{ tag.category.category }} | {{ tag.tag }}
			<br>
		{% endfor %}
	</div>
	<div class="col-md-8">
		{% block tag %}{% endblock %}
	</div>

	<script>
		var tagListContainer = $('.tag-list');
		var tagListContainerList = tagListContainer.append('<ul>');

		$.get('http://127.0.0.1:8080/blog/tag/list', function (tags) {
			tags.forEach(function (tag) {
				var deleteUrl = Flask.url_for('delete_tag', {key: tag.key});
				var updateUrl = Flask.url_for('update_tag', {key: tag.key});
				tagListContainerList.append('<a class="btn btn-sm btn-danger" href="' + deleteUrl + '"><i class="fa fa-remove"></i></a>');
				tagListContainerList.append('<a class="btn btn-sm btn-warning" href="' + updateUrl + '"><i class="fa fa-edit"></i></a>');
				tagListContainerList.append('||');
				tagListContainerList.append(tag.category + '-' + tag.tag);
				tagListContainerList.append('<br>');
			})
		});
	</script>
{% endblock %}
