# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.

Flask==0.10.1
Flask-RESTful==0.2.12
Flask-WTF==0.10.0
Flask-JSGlue
Jinja2==2.7.3
WTForms==2.0.1
WTForms-Components==0.9.5
BeautifulSoup4
Markdown
Pygments
