<!-- Start Page Banner -->
<div class="page-banner">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div ui-view="banner-name"></div>
			</div>
			<div class="col-md-6">
				<div ui-view="banner-breadcrumbs"></div>
				<ul class="breadcrumbs">
					<li><a ui-sref="home">Home</a></li>
					<li>Blog</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Page Banner -->

<div id="content">
	<div class="container">
		<div class="row blog-page">

			<!--Sidebar-->
			<div class="col-md-3 sidebar left-sidebar">
				<div ui-view="sidebar"></div>
			</div>
			<!--End sidebar-->


			<!-- Start Blog Posts -->
			<div class="col-md-9 blog-box">

				<div ui-view="content"></div>

			</div>
			<!-- End Blog Posts -->

		</div>
	</div>
</div>
