body {
	font-family: 'Noticia Text', serif;
	padding-top: 70px;
}

.navbar-nav {
	margin-bottom: 10px;
}

.navbar-nav > li > a {
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	height: 50px;
	color: #000;
	-webkit-transition: background .2s, color .2s linear;
	-moz-transition: background .2s, color .2s linear;
	-ms-transition: background .2s, color .2s linear;
	-o-transition: background .2s, color .2s linear;
	transition: background .2s, color .2s linear;
}

.navbar-nav > li > a:hover {
	text-decoration: underline;
	background-color: #fff;
}

.navbar-nav > li.menu-icon {
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(216, 216, 216, 0.77);
	display: block;
	width: 50px;
}

.navbar-nav > li.icon-fa {
	border-left: 1px solid;
	border-color: rgba(216, 216, 216, 0.77);
	display: block;
}

.navbar-nav > li.icon-fa a:hover {
	background-color: #3b5998;
	color: #fff
}

.navbar-nav > li.icon-yt a:hover {
	background-color: #cd201f;
	color: #fff
}

.navbar-nav > li.icon-ig a:hover {
	background-color: #3f729b;
	color: #fff
}

.navbar-nav > li.icon-sc a:hover {
	background-color: #ff8800;
	color: #fff
}

.navbar-nav > li.icon-li a:hover {
	background-color: #00a0dc;
	color: #fff
}

.navbar-nav > li.icon-health a:hover {
	color: #45c47b;
}

.navbar-nav > li.icon-ai a:hover {
	color: #4945bc;
}

.navbar-nav > li.icon-music a:hover {
	color: #ff7246;
}
.navbar-form input, .form-inline input {
	width:auto;
}

.navbar-form input, .form-inline input {
	width:auto;
}

.story-img {
	margin-top:25%;
	display:block;
}

a,a:hover {
	color:#223344;
	text-decoration:none;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 80px;
	}
}

.dropdown-menu {
	min-width: 250px;
}

.panel {
	border-color:transparent;
	border-radius:0;
}

.thumbnail {
	margin-bottom:8px;
}

.img-container {
	overflow:hidden;
	height:170px;
}

.img-container img {
	min-width:280px;
	min-height:180px;
	max-width:380px;
	max-height:280px;
}

.txt-container {
	overflow:hidden;
	height:100px;
}

.panel .lead {
	overflow:hidden;
	height:90px;
}

.label-float{
	margin:0 auto;
	position: absolute;
	top: 0;
	z-index: 1;
	width:100%;
	opacity:.9;
	padding:6px;
	color:#fff;
}

hr.message-inner-separator
{
	clear: both;
	margin-top: 10px;
	margin-bottom: 13px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
