{% extends "index.html" %}
{% block body %}
<div ng-controller="entryController">

	<img src="{{ url_for('static', filename='images/ajax-loader.gif') }}" ng-show="loading" class="center-block" title="Loading..."/>

	<div class="row" {% block items %}{% endblock %}>
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">
					<!--/stories-->
					<div class="row">
						<div class="col-md-2 col-sm-3 text-center">
							<a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
						</div>

						<!--  SUMMARY -->

						<div class="col-md-10 col-sm-9">
							<h3 class="entry-title">{[ item.title ]}</h3>

							<div class="row">
								<p class="entry-summary">{[ item.summary ]}</p>

								<p class="lead">
									<button ng-hide="item.readMode == true" class="btn btn-default" ng-click="openItem(item)" title="Read more">Read
										more <i
												class="fa fa-chevron-down"></i></button>
									<button ng-show="item.readMode == true" class="btn btn-default" ng-click="closeItem(item)">Close <i
											class="fa fa-chevron-up"></i></button>
								</p>

								<!--  BLOG POST -->

								<div ng-show="item.readMode == true">
									<div ng-bind-html="item.postRendered"></div>
									<hr>
									<h3>Comments</h3>

									<div ng-show="item.comment_count == 0">No comments yet, be the first!</div>
									<p>If you want an avatar, please register at <a href="http://www.gravatar.com" target="_blank">gravatar</a></p>

									<p>HTML tags are not allowed, though Markdown is supported. Misuse will result in getting the comment flagged as
										spam.</p>


									<!--  BLOG COMMENT FORM -->

									<div class="row">
										<div class="col-sm-8">
											<form name="commentForm" class="form-group" ng-show="messageGreen == '' && messageRed == ''" role="form">
												<div class="form-group has-feedback">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-user"></i></span>
														<input type="text" class="form-control" required ng-model="comment.name"
														       placeholder="Your name..."/>
													</div>
												</div>
												<div class="form-group has-feedback">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
														<input type="text" class="form-control" required ng-model="comment.email"
														       placeholder="Your email address..."/>
													</div>
												</div>
												<div class="form-group has-feedback">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-comment"></i></span>
											<textarea rows="5" class="form-control" required ng-model="comment.comment"
											          placeholder="Place your comment here..."></textarea>
													</div>
												</div>
												<div class="form-group">
													<div class="btn-group">
														<button class="btn btn-default fa fa-save" ng-click="saveComment(item)"
														        ng-disabled="commentForm.$invalid"> Submit
														</button>
														<button class="btn btn-default fa fa-ban" ng-click="initiateComment(item)"> Cancel
														</button>
													</div>
												</div>
											</form>
										</div>
										<div class="col-sm-4"></div>
									</div>

									<div class="row">
										<div class="col-sm-6 col-md-6" ng-hide="messageRed==''">
											<div class="alert alert-danger">
												<button class="close fa fa-close" ng-click="resetMessage()"></button>
												<span class="glyphicon glyphicon-ok"></span> <strong>Failure!</strong>
												<hr class="message-inner-separator">
												<p>{[ messageRed ]}</p>
											</div>
										</div>
										<div class="col-sm-6 col-md-6" ng-hide="messageGreen==''">
											<div class="alert alert-success">
												<button class="close fa fa-close" ng-click="resetMessage()"></button>
												<span class="glyphicon glyphicon-ok"></span> <strong>Success!</strong>
												<hr class="message-inner-separator">
												<p>{[ messageGreen ]}</p>
											</div>
										</div>
									</div>

									<!--  BLOG COMMENTS -->

									<div class="col-md-8" style="border-left: 1px solid rgba(45, 46, 36, 0.25)">
										{% if session.is_admin %}
										<div ng-repeat="c in item.comments | filter:adminCommentFilter">
											{% else %}
											<div ng-repeat="c in item.comments | filter:commentFilter">
												{% endif %}
												<div class="col-md-12" style="margin-bottom: 10px; border-bottom: 1px solid rgba(45, 46, 36, 0.25)">
													<div class="row" style="margin-bottom: 5px; margin-top: 5px">
														<div class="img img-responsive col-md-2">
															<img ng-src="{[c.image]}" style="border-radius: 5px">
														</div>
														<div class="col-md-10">
															<div class="row"><strong>{[ c.name ]}</strong></div>
															<div class="row">{[ c.date_added | date: "d MMMM yyyy 'at' H:mm"]}</div>
														</div>
													</div>
													<div class="row" style="margin-bottom: 5px">
														<div class="col-md-12">
															<div ng-bind-html="c.comment"></div>
														</div>
													</div>
													{% if session.is_admin %}
													<div ng-show="c.approved == false && c.spam == false">
														<div class="btn-group">
															<button class="btn btn-default" ng-click="approveComment(c)"><i
																	class=" fa fa-thumbs-o-up"></i> Approve
															</button>
															<button class="btn btn-default" ng-click="spamComment(c)">Spam <i
																	class=" fa fa-thumbs-o-down"></i>
															</button>
														</div>
													</div>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
									<img src="{{ url_for('static', filename='images/ajax-loader.gif') }}" ng-show="item.loadingPost"
									     class="center-block" title="Loading..."/>

									<!-- ENDING OF SUMMARY -->

									<div ng-hide="item.readMode == true">
										<div ng-repeat="tag in item.tags">
											<span class="pull-right label label-primary" style="margin-right: 3px">{[ tag.tag ]}</span>
										</div>
										<ul ng-hide="item.readMode == true" class="list-inline">
											<li><a href="#"><i class="fa fa-calendar"></i> {[item.date_added | date: "d MMMM yyyy 'at' H:mm"]}</a>
											</li>
											<li><a href="#"><i class="fa fa-comments"></i> {[ item.comment_count ]} Comments</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-3"></div>
					</div>
				</div>
			</div><!--/col-12-->
		</div>
	</div>
</div>
{% endblock %}

